AUTH48: Wrong use of HTTP Proxy

Section 4.1 contains:

"If the recipient is configured to use another HTTP proxy, it will act as an intermediary by forwarding the request to another HTTP server."

There are some potential issues in this sentence. First is the usage of "HTTP Proxy". So the recipient of an Connect-IP request can either be an client side HTTP intermediary, in which case it will route and connect to next hop per host header. It might be the IP Proxy, or it can be a receiver side HTTP Intermediary in which case it will forward according to internal policies. Thus, I think this sentence needs to be rewritten so that it correctly reflect what I think is meant here. Maybe something like:

If the recipient is an HTTP intermediary, it will forward the request to next hop HTTP Intermediary or HTTP Server (IP Proxy).


The text we have matches language from the HTTP spec, see [RFC 9110 s7.3](https://www.rfc-editor.org/rfc/rfc9110#section-7.3). It explicitly says "HTTP proxy" to avoid confusion with "IP proxy".

The current text seems OK to me

So I understand the intention to avoid to avoid confusion with a Connect-IP capable HTTP server (IP proxy).

However, the issue here is that my reading of the sentence makes it only apply to a chain that looks like this: Client -> (The HTTP intermediary being regulated by sentence) -> HTTP Proxy, and then forward it to another HTTP server (not the HTTP proxy). The grammar appear screwed up in this sentence. Isn't the intention here to talk about a HTTP proxy or possibly HTTP Gateway (per [RFC 9110 section 3.7](https://www.rfc-editor.org/rfc/rfc9110#name-intermediaries) that will on behalf of the requesting party will forward it to the next hop, either an HTTP intermediary or an HTTP server? 

Thanks for clarifying, I see what you mean. I read through the various terminology sections of RFC 9110, and what we're referring to here is an "HTTP server" not an "HTTP proxy". I'm fixing that with #183

Fixes by #183 